**/proj.android/obj/
**/proj.android/out/
**/proj.android/bin/
**/proj.android/libs/
**/proj.android/gen/
**/proj.emscripten/build/
**/proj.emscripten/build_release/
**/proj.marmalade/build_*
**/proj.win32/Debug_*/
**/proj.win32/Release_*/
**/build-proj*
ident.free
*.pyc
*.opensdf
*.sdf
oxygine/SDL/win32/Debug_*
examples/*/data/*.dll
oxygine/SDL/win32/Debug/
oxygine/SDL/win32/Release/
*.suo
examples/*/proj.win32/ipch/
oxygine/SDL/win32/Release*
oxygine/SDL/win32/Debug*
oxygine/system_data/data/
examples/*/proj.emscripten/data.js
oxygine/system_data/system.zip
examples/Game/*/proj.emscripten/data.js
oxygine/SDL/android/lib/gen/
.idea
oxygine/SDL/android/lib/bin/
examples/*/data-ram/
.gradle/
examples/*/proj.android/libs/
oxygine/SDL/android/lib/src/org/libsdl/app/SDLActivity.java
oxygine-framework-with-sdl.zip
oxygine-framework.zip
*.orig
xcuserdata
contents.xcworkspacedata
*.xcscmblueprint
examples/Demo/data/res.xml.ox
examples/*/proj.cmake/build/
temp/
examples/Game/*/proj.cmake/build/
examples/HelloWorld/build_helloworld_*
examples/Match3/build_match3_*
libs/SDL2main.lib
libs/SDL2.lib
libs/SDL2.dll
libs/libSDL2.a
libs/libSDL2.dll.a
libs/libSDL2main.a
examples/Game/part2/build_game_vc12/
oxygine/SDL/android/extension/gen/
oxygine/SDL/android/extension/bin/
*.exp
*.pdb
*/Debug_v*
build
/examples/Demo/proj.cmake/mingw
**/proj.marmalade/build_demo_vc*
.DS_Store
